/** @format */

.showList {
  background: red;
  height: 20px;
  width: 50px;
}
.hideList {
  display: none;
}
.optionContainer {
  position: absolute;
  top: 70px;
  right: -70px;
  background: #292a2b;
  width: 45%;
  // height: 200px;
  z-index: 1;

}

.fixedSize {
  // width: 200px;
  // height: 50px;
}
.addToPlaylist {

  // width: 200px;
  // height: 95px;
  text-wrap: nowrap;
}
.options {
  // border: 1px solid black;
}

.backArrow {
  font-size: 30px;
  // position: absolute;
  // top: -25px;
}
.deleteFromPlaylist {
  // position: absolute;
  // right: -29px;
  // top: -12px;
//  height: 95px;
  text-wrap: nowrap;
}

.playlists {
text-align: center;

}