/** @format */

.showList {
  background: red;
  height: 20px;
  width: 50px;
}
.hideList {
  display: none;
}
.addToPlaylist {
  border: 1px solid black;
  width: fit-content;
}
.options {
  border: 1px solid black;
}

.backArrow {
  font-size: 30px;
}