/** @format */

.tracklistContainer {
  // padding: 10px;
  // gap: 5px;
  // display: flex;
  // flex-direction: column;
  // width: 70%;
  height: 90vh;

  // overflow-y: scroll;
}

.inView {
  height: fit-content;
}

.flexPages {
  display: flex;
  justify-content: space-evenly;
}
.clickedPage {
  color: red;
}

.allTracks {
  font-size: large;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}