/** @format */

.containerWrapper {
  display: flex;
  // gap: 5%;
  height: 100vh;
  background: rgba(14, 25, 32, 1)

}

.content {
  overflow-y: auto;
  flex: 1;
}

.rightSide {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex: 1;
  background: #212121;
}
