/** @format */

.containerWrapper {
  display: flex;
  // gap: 5%;
  height: 100vh;
  background: rgba(14, 25, 32, 1);
}

.content {
  overflow-y: auto;
  flex: 1;
  // background: #412c3a;
  background: linear-gradient(180deg, #34587a 0%, #395be61f 48%);
}

.rightSide {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex: 1;
  background: #212121;
}

.searchInput {
  margin: 10px;
  padding-left: 10px;
  background: rgba(101, 101, 101, 1);

  border: 1px;
  border-radius: 10px;
  opacity: 60%;

  //styleName: H4;
  font-family: Vazirmatn;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;

  &::placeholder {
    color: rgba(255, 255, 255, 1);
  }
}
