/** @format */

.container {
  height: 100%;
  background: rgb(208 206 206);
  box-shadow: 2px 1px 6px 0px #7a7474;
  width: 200px;
  padding: 5px;
}

.item {
  text-align: center;
  background: rgb(103, 84, 84);
  padding: 2px;
}
